* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
}

.container {
  width: 100%;
  height: 100vh;
  background-color: yellow;
  overflow: hidden;
}
.blu {
  background-color: blue;
}

.red {
  background-color: red;
}

.violet {
  background-color: violet;
}

ul{
  list-style: none;
}

a{
  color: #a3a3a3;
  text-decoration: none;
}

strong{
  color: white;
  font-size: 15px;
}

h2{
  font-size: 15px;
  color: white;
  text-transform: uppercase;
}

li:hover a{
  color: white;
}

li:hover img{
  opacity: 1;
}

.middle{
  vertical-align: middle;
}

/* MAIN */
main {
  display: flex;
  height: calc(100% - 90px);
}

.main-nav {
  width: 230px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: black;
  overflow-y: hidden;
}

.main-nav li{
  padding: 5px 0;
}

.nav-logo{
  padding: 15px;
}

.nav-page{
  padding: 5px 0;
}

.nav-page li{
  padding-left: 15px;
}

.nav-page img{
  height: 28px;
  vertical-align: middle;
  opacity: 0.5;
  margin-right: 5px;
}

.nav-page .special{
  color: white;
}

.nav-page .special-ico{
  opacity: 1;
}

.nav-page .special-li{
  border-left: 3px solid #adff2f;
}

.main-playlist{
  padding: 5px 15px;
}

.new-playlist:hover a{
  color: white;
}

.new-playlist span::before{
  display: inline-block;
  content: '+';
  height: 49px;
  width: 49px;
  font-size: 40px;
  color: black;
  background-color: #a3a3a3;
  text-align: center;
  vertical-align: middle;
  margin: 5px 0;
  margin-right: 10px;
}

.new-playlist:hover span::before{
  background-color: white;
}

.main-scroll{
  flex-grow: 2;
  overflow: hidden;
  min-height: 90px;
  padding: 5px 15px;
}

.scrollable{
  overflow-y: auto;
  height: 100%;
}

.main-scroll>a{
  font-size: 15px;
  line-height: 49px;
  text-align: center;
  vertical-align: middle;
}

.nav-bottom{
  padding: 5px 15px;
}

.app:hover img{
  opacity: 1;
}

.app:hover a{
  color: white;
}

.nav-bottom img{
  width: 15px;
  vertical-align: middle;
  opacity: 0.5;
  margin-right: 5px;
}

.nav-bottom .profile img{
  width: 20px;
  opacity: 1;
  padding: 3px;
  background-color: #808080;
  border-radius: 50%;
}

.nav-bottom hr{
  margin: 10px 0;
  border: 1px solid #a3a3a3;
}

.main-content {
  width: calc(100% - 230px);
  height: 100%;
  padding-top: 90px;
  background-color: blue;
  overflow-y: scroll;
}

.top-bar {
  position: fixed;
  top:0;
  right:0;
  z-index: 1;
  background-color: rgba(11, 11, 11, 0.52);
  width: calc(100% - 230px);
  height: 90px;
  line-height: 90px;
  text-align: right;
}
.top-bar .btn {
  padding: 5px 10px;
  border-radius: 20px;
  border: 1px solid white;
  margin-right: 50px;
}

.top-bar .btn:hover {
  transform: scale(2);
}

.top-bar a.btn {
  color: white;
  text-transform: uppercase;
}




/* FOOTER */
footer {
  width: 100%;
  height: 90px;
  position: fixed;
  bottom:0;
  left: 0;
  background-color: #282828;
  display: flex;
  justify-content: space-between;
}

footer .foot-left{
  width: 230px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.foot-left .cover{
  width: 20%;
  height: 100%;
}

.foot-left .cover img{
  width: 100%;
  transform: translateY(22px);
}

.foot-left .title{
  width: 35%;
}

.foot-left .title .name{
  font-size: 10px;
  color: #a3a3a3;
}

.foot-left .ico{
}

.foot-left .ico i{
  font-size: 15px;
  color: #a3a3a3;
  padding-left: 10px;
}

footer .foot-center{
  flex-grow: 2;
  height: 100%;
}

.foot-center .button{
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.foot-center .button li{
  display: inline-block;
  padding: 10px;
}

.foot-center .button li#special{
  padding: 0;
}

.foot-center .button #special{
  width: 50px;
  height: 50px;
  text-align: center;
  vertical-align: middle;
  font-size: 30px;
}

.foot-center .button #player{
  font-size: 30px;
}

.foot-center .button #player:hover{
  font-size: 32px;
}

.foot-center .button i{
  color: white;
  font-size: 16px;
}

.foot-center .time-bar{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.time-bar .time,
.time-bar .total-time{
  width: 10%;
  text-align: center;
  margin: 0 10px;
  color: white;
}

.time-bar .bar{
  width: 70%;
  position: relative;
  cursor: pointer;
}

.bar .total-bar{
  width: 100%;
  border: 3px solid #a3a3a3;
  border-radius: 5px;
}

.bar .now-bar{
  width: 9%;
  border: 3px solid white;
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
}

footer .foot-right{
  height: 100%;
  width: 230px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.foot-right i{
  color: white;
  font-size: 15px;
}

.foot-right i:last-of-type{
  margin-right: 10px;
}

.foot-right .audio{
  width: 60%;
}

.foot-right .audio .audio-bar{
  position: relative;
  width: 60%;
  display: inline-block;
}

.foot-right .audio .audio-max{
  width: 100%;
  border: 3px solid #a3a3a3;
  border-radius: 5px;
}

.audio .audio-bar .audio-now{
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  border: 3px solid white;
  border-radius: 5px;
}
